/* decraltion for first render class dinamic tailwind css */
.left-\[calc\(1\*2rem\)\] {
    left: calc(1* 2rem);
}

.left-\[calc\(2\*2rem\)\] {
    left: calc(2* 2rem);
}

.left-\[calc\(3\*2rem\)\] {
    left: calc(3* 2rem);
}

.left-\[calc\(4\*2rem\)\] {
    left: calc(4* 2rem);
}

.left-\[calc\(5\*2rem\)\] {
    left: calc(5* 2rem);
}

.left-\[calc\(6\*2rem\)\] {
    left: calc(6* 2rem);
}

.left-\[calc\(7\*2rem\)\] {
    left: calc(7* 2rem);
}

.left-\[calc\(8\*2rem\)\] {
    left: calc(8* 2rem);
}

.left-\[calc\(9\*2rem\)\] {
    left: calc(9* 2rem);
}

.left-\[calc\(10\*2rem\)\] {
    left: calc(10* 2rem);
}